
* {
    font-family: tahoma, sans-serif;
  }
  
  #navbar {
    background-color: white;
    position: fixed;
    top: 0;
    left:0;
    width: 270px;
    height:100%;
    min-width: 175px;
    overflow-y:auto;
  }
  
  #navheader {
  text-align:center;
  padding: 0 2px 0 2px;
  color: #242424;
  }
  #smallh1 {
    font-size: 0.7em;
  }
  
  #navbar h3 {
  border-bottom: solid #242424;
  padding:2px;
  color: #242424;
  }
  
  #navbar h3:first-of-type {
  padding-top:0;
  margin-top:2.5px;
  
  }
  
  #navbar ul {
  list-style:none;
  padding: 0 5px 15px 5px;
  margin:0;
    overflow-y: auto; /*need these 2 for the @media later*/
    overflow-x: hidden;
  }
  
  #navbar li {
    background-color: #FDF8F3;
    padding: 10px 10px 10px 10px;
    white-space: nowrap;
    margin: 5px;
    border-radius: 24px;
    font-size: 1em;
    font-weight: bold;
    display: block;
  }
  
  #navbar li:hover {
    background-color: #F3F8FD;
    cursor: pointer;
  }
  
  
  li>a {
  text-decoration:none;
  color: #242424;
  display:block;
  width:100%;
  }
  
  body {
  background-color: #F3F8FD;
  }
  
  #main-doc {
    margin-left: 290px;
  }
  
  .h2header {
    display:inline;
    font-size: 1.5em;
    font-weight: bold;
  }
  
  h2 {
    display: inline;
  }
  
  .main-section {
    background-color: rgba(255,255,255,0.8);
   padding:10px 15px 3px 15px;
   margin: 15px;
   border-radius: 15px;
  }
  
  .main-section1 {
    background-color: rgba(255,255,255,0.8);
   padding:10px 15px 3px 15px;
   margin: 15px;
   border-radius: 15px;
  }
  
  .pinyin {
    background-color: #5B5D5F;
    color:#5B5D5F;
    padding:3px;
    border-radius: 15px;
    max-width: 1000px;
  
  }
  .pinyin:hover {
  background-color:#FDF8F3;
  color:#5B5D5F;
  }
  
  /*for small screen size*/
  @media only screen and (max-width: 815px) {
    #navbar ul {
      height: 207px;
    }
  
    #navbar {
      background-color: white;
      position: absolute;
      top: 0;
      padding: 7px;
      margin: 0;
      width: 100%;
      max-height: 300px;
      z-index: 1;
      border-bottom: 2.5px solid #242424;
    }
  
    #main-doc {
      position: relative;
      margin-left: 0px;
      margin-top: 320px;
    }
}

  
  
  /*for phone*/
  @media only screen and (max-width: 400px) {
    #main-doc {
      margin-left: -10px;
    }
    .post-container {
    display: flex;
    flex-wrap: wrap;
  justify-content:space-evenly;
    max-width: 300px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 230px) {
 .pinyin {
    background-color:#FDF8F3;
    color:#5B5D5F;
  }
}
